.datetime-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #f6f7fb;
  border: 1px solid #a6abb9;
  color: #242a37;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.datetime-picker * {
  border: none;
}

.react-datetime-picker__button {
  padding: 0;
}

.react-datetime-picker__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.react-datetime-picker__calendar-button {
  margin-right: 12px;
}

.react-calendar__tile--now {
  color: #fff;
  background-color: #6d7a8d;
}

.react-calendar__tile--active {
  color: #fff;
  background-color: #ff6b08;
}
